@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    /* width: 90vw; */
    height: 100vh;
    /* padding: 10px; */
    display: grid;
    grid-template-rows: [row1] 1fr [row2] 8fr [row3];
    grid-template-columns: [col1] 2fr [col2] 7fr [col3];
}

header{
    grid-column: col2 / col3;
    background-color: rgba(255, 255, 255, 1);
}

.sidebar{
    grid-row: row1 / row3;
    background-color: rgba(24, 135, 206, 1);
    display: grid;
    grid-template-rows: auto 5fr 7fr;
    padding: 10px 0px 0 10px;
}
.main-content{
    background: rgba(222, 229, 238, 1);
    display: grid;
    grid-template-columns: 8fr 3fr;
}

section.logo>a{    
    font-size: 32px;
    font-weight: 600;
    color: white;
    /* margin-bottom: 20px; */
    text-decoration: none;
    display: grid;
    grid-template-columns: 60px auto;
    grid-auto-flow: column;
    align-items: center;
}
section.logo img{
    filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(9deg) brightness(124%) contrast(103%);
    height: 60px;
}
section.logo>a>span{
    padding-left: 25px;
}



.navigation, .settings-nav{
    margin-top: 35px;
}
nav>ul{
    display: grid;
}

ul>li{
    list-style-type: none;
    padding: 12px 0px;
}
ul>li>a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    display: grid;
    grid-template-columns: 60px auto;
    grid-auto-flow: column;
    align-items: center;
}

nav>ul>li>a>img{
    filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(9deg) brightness(124%) contrast(103%);
    height: 35px;
    justify-self: center;
}

nav>ul>li>a>span{
    padding-left: 25px;
    font-size: 22px;
}



.left-content{
    padding: 25px 20px 25px 20px;
    /* border: 1px solid black; */
}

.cards-title, .announcement-title, .trending-title{
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.card{
    /* border: 1px solid red; */
    background: white;
    /* height: 180px; */
    padding: 20px 60px 20px 15px;
    border-left: 10px solid rgb(238, 171, 37);
    border-radius: 7px;
    box-shadow: 0px 4px 10px -2px rgb(185, 180, 180);
    display: grid;

}

section > .card-para{
    color: rgb(88,88,88);
    font-size: 16px;
    padding: 5px 0px;
}

.card-icons{
    display: grid;
    grid-template-columns: repeat(3, 26px);
    justify-content: end;
    align-self: end;
    
    
}
.icon{
    color: black;
    display: grid;
}

.right-content{
    padding: 25px 45px 25px 20px;
    /* border: 1px solid black; */
}

.announcement-items, .trending-items{
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px -2px rgb(185, 180, 180);;
}
.announcement-items{
    padding: 30px 20px;
}

.ann-item:first-child{
    padding-bottom: 15px;
}
.ann-item:last-child{
    padding-top: 15px;
}
.ann-item:nth-child(2){
    border-top: 1px solid rgba(88,88,88, 0.5);
    border-bottom: 1px solid rgba(88,88,88, 0.5);
    padding: 15px 0px;
}
.ann-item-title{
    font-size: 18px;
}

.ann-item > .ann-item-para{
    color: rgba(88,88,88, 0.8);
    font-size: 14px;
    /* margin-top: 5px; */
}

.trending{
    margin-top: 15px;
}

.trending-items{
    padding: 20px 20px;
}
.trend-item{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
                        "logo username"
                        "logo description";
    padding: 12px 0px;                   
}

.trending-items  img{
    height: 45px;
    grid-area: logo;
}


section>.user-description{
    grid-area: description;
    font-size: 16px;
    color: rgba(88,88,88, 0.8);
}
section>.user{
    grid-area: username;
    font-weight: 400;
    font-size: 16px;
}

header{
    display: grid;
    background: white;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto auto;
}

.input-row{
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-auto-flow: column;
    padding: 15px 10px 15px 25px;
    align-items: center;
}

.input-row>img {
    height: 25px;
}

.input-row>form{
    display: grid;
    padding:0 25px 0 10px;
    justify-content: stretch;

}
.input-row input{
    background:rgb(222, 229, 238);
    border-radius: 10px;
    border: none;
    height: 28px;
}   

.user-bar{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto 100px auto;
    padding-top: 10px;
    
}
.user-bar .bell{
    justify-self: end;
    height: 22px;
}
.user-bar .pfp-small{
    scale: 0.8;
}
.user-bar h5{
    font-size: 20px;
    justify-self: baseline;
}

.pfp-row{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 78px 3fr;
    grid-template-areas: 
                        "logo username"
                        "logo description";
    padding: 15px 10px 15px 25px;
    align-items: center;

}

.pfp-row .pfp-large{
    grid-area: logo;
    height: 78px;
}
.pfp-row h6, .pfp-row h5{
    padding-left: 25px;
}

.pfp-row h6{
    font-size: 18px;
}

.pfp-row h5{
    font-size: 26px;
}

.buttons-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-right: 30px;
}
.buttons-row>a{
    text-decoration: none;
    background: rgb(24, 135, 206);
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 22px;
    padding: 10px 20px
}